.dragicon {
-fx-background-radius: 10;
}

.icon-blue {
    -fx-background-color: blue;
}

.icon-red {
    -fx-background-color: red;
}

.icon-green {
    -fx-background-color: green;
}

.icon-black {
    -fx-background-color: black;
}
 
.icon-grey {
    -fx-background-color: grey;
}

.icon-yellow {
    -fx-background-color: yellow;
}

.icon-purple {
    -fx-background-color: purple;
}

/* For the checklist */

.scroll-pane {
	-fx-background: "#264653";
	-fx-background-color: "#264653";
}

.check-box .box {

-fx-background-color:  #264653;
-fx-border-color:grey;
-fx-border-radius:3px; 

}

.check-box:selected .mark {

-fx-background-color: #f4a261;

}

.check-box:selected .box {

-fx-background-color: #264653;
}

.hbox:hover {
	-fx-background-color: #315a6a;
}

.hbox-active {
	-fx-background-color: #1b323c;
}